h1{
  font-family: 'Reggae One', cursive;
  color: white;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 2%;
  padding-top: 2%;
}
h4{
  font-family: 'Caveat', cursive;
}
span{
  font-family: 'Caveat', cursive;
}
.overlay{
  background-color:rgba(255, 0, 221, 0.267);
  border-radius: 5px;
  margin-top:4%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 5%;
}
#name{
  color:rgb(43, 214, 0);
  font-weight: 700;
}
.all-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#quotes-button{
  float: right;
}
.card{
  margin-bottom: 2%;
  background-color: aliceblue;
  box-shadow: 2px 2px 3px 2px black;
}
#date{
  float: right;
  font-size: 14px;
}
#datecolor{
  color: green;
  font-weight: 00;
}
.card-text{
  font-family: 'Courgette', cursive;
  font-weight: 500;
  font-size: 18px;
}